<section>
  <div class="card">
    <div class="card-body">
      {{#if availability.h08}}
      <p>08:00 AM</p>
      <p>There is a appointment at this time</p>
      {{else}}
        <p>08:00 AM</p>
        <p>Open</p>
        <button type="submit" name="block-time" data-time-block:"08:00">Block Time</button>
      {{/if}}
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      {{#if availability.h10}}
      <p>10:00 AM</p>
      <p>There is a appointment at this time</p>
      {{else}}
        <p>10:00 AM</p>
        <p>Open</p>
        <button type="submit" name="block-time" data-time-block:"10:00">Block Time</button>
      {{/if}}
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      {{#if availability.h12}}
      <p>12:00 PM</p>
      <p>There is a appointment at this time</p>
      {{else}}
        <p>12:00 PM</p>
        <p>Open</p>
        <button type="submit" name="block-time" data-time-block:"12:00">Block Time</button>
      {{/if}}
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      {{#if availability.h14}}
      <p>14:00 PM</p>
      <p>There is a appointment at this time</p>
      {{else}}
        <p>14:00 PM</p>
        <p>Open</p>
        <button type="submit" name="block-time" data-time-block:"14:00">Block Time</button>
      {{/if}}
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      {{#if availability.h16}}
      <p>16:00 PM</p>
      <p>There is a appointment at this time</p>
      {{else}}
        <p>16:00 PM</p>
        <p>Open</p>
        <button type="submit" name="block-time" data-time-block:"16:00">Block Time</button>
      {{/if}}
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      {{#if availability.h18}}
      <p>18:00 PM</p>
      <p>There is a appointment at this time</p>
      {{else}}
        <p>18:00 PM</p>
        <p>Open</p>
        <button type="submit" name="block-time" data-time-block:"18:00">Block Time</button>
      {{/if}}
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      {{#if availability.h20}}
      <p>20:00 PM</p>
      <p>There is a appointment at this time</p>
      {{else}}
        <p>Open</p>
        <button type="submit" name="block-time" data-time-block:"20:00">Block Time</button>
      {{/if}}
    </div>
  </div>
</section>
