<section>
  <div class="card">
    <div class="card-body">
      {{#if h08}}
      {{else}}
        <p>Open</p>
        <button type="submit" name="block-time" data-time-block:"08:00">Block Time</button>
      {{/if}}
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      {{#if h10}}
      {{else}}
        <p>Open</p>
        <button type="submit" name="block-time" data-time-block:"10:00">Block Time</button>
      {{/if}}
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      {{#if h12}}
      {{else}}
        <p>Open</p>
        <button type="submit" name="block-time" data-time-block:"12:00">Block Time</button>
      {{/if}}
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      {{#if h14}}
      {{else}}
        <p>Open</p>
        <button type="submit" name="block-time" data-time-block:"14:00">Block Time</button>
      {{/if}}
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      {{#if h16}}
      {{else}}
        <p>Open</p>
        <button type="submit" name="block-time" data-time-block:"16:00">Block Time</button>
      {{/if}}
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      {{#if h18}}
      {{else}}
        <p>Open</p>
        <button type="submit" name="block-time" data-time-block:"18:00">Block Time</button>
      {{/if}}
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      {{#if h20}}
      {{else}}
        <p>Open</p>
        <button type="submit" name="block-time" data-time-block:"20:00">Block Time</button>
      {{/if}}
    </div>
  </div>
</section>
