<form action="/appointment/date" method="get"class="form signup-form">
        <div class="form-group form-floating mb-3 col-3">
          <div> Please select a date for your appointment:</div>
          <br>
          <input name="app_date" class="form-input form-control col-6" type ="text" id ="datepicker-4" />
          <button class="btn btn-primary" type="submit" id="app-date">Check availability</button>
        </div>
</form>

{{#if showOptions}}
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="btn btn-primary" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
  Please select a service:
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    {{#each services as |service|}}
    <li><a class="dropdown-item" id="service">{{name}}</a></li>
    {{/each}}
  </ul>
</div>


<div class="dropdown" id="selected-hour">
  <button class="btn btn-secondary dropdown-toggle" type="btn btn-primary" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
  Please select a time
  </button>
  <select id="cars" name="cars" class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
  {{#if availability.h08}}
    {{else}}
    <option value=8 >8:00 am</option>
  {{/if}}
  {{#if availability.h10}}
    {{else}}
    <option value=10 >10:00 am</option>
  {{/if}}
  {{#if availability.h12}}
    {{else}}
    <option value=12 >12:00 pm</option>
  {{/if}}
  {{#if availability.h14}}
    {{else}}
    <option value=14 >2:00 pm</option>
  {{/if}}
  {{#if availability.h16}}
    {{else}}
    <option value=16 >4:00 pm</option>
  {{/if}}
  {{#if availability.h18}}
    {{else}}
    <option value=18 >6:00 pm</option>
  {{/if}}
  {{#if availability.h20}}
    {{else}}
    <option value=20 >8:00 pm</option>
  {{/if}}
</select>
</div>
{{else}}

{{/if}}







 <script>
        $(function() {
           $( "#datepicker-4" ).datepicker({
              dateFormat:"yy-mm-dd",
              dateField: "#datepicker-4",
              beforeShowDay : function (date) {
                 var dayOfWeek = date.getDay ();
                 // 0 : Sunday, 1 : Monday, ...
                 if (dayOfWeek == 0 || dayOfWeek == 6) return [false];
                 else return [true];
                }
              });
            });
</script>
